@charset "UTF-8";
body{
	margin: 0px;
	padding: 5px;
	background-color: lightblue;
}
h1, h2, h3, h4{
	font-family: tahoma, ubuntu;
	text-transform: capitalize;
	border-radius: 4px 10px;
	border:2px solid red;
	padding: 12px;
}

